header {
    text-align: center;
    background-color: #EEE;
    margin-bottom: 20px;
    padding: 20px;

    & h1 {
        font-size: 28px;
        font-weight: 500;
    }
}

nav {
    padding: 20px 0 10px;
    & a {
        margin: 0 10px;
        color: #333;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .active {
        color: #666;
        text-decoration: underline;
    }
    

}

